/* ================ Theme ================ */

@font-face {
  font-family: "Bahnschrift";
  src: url('fonts/bahnschrift.ttf') format('truetype');
}

@font-face {
  font-family: "Lato";
  src: url('fonts/Lato-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  src: url('fonts/Lato-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

:root {
    --font-primary: 'Bahnschrift', sans-serif;
    --font-secondary: 'Lato', sans-serif;
    --xr-red: #e61a31;
    --xr-purple: #661556;
    --xr-cool-red: #a52256;
    --xr-indigo: #4d1798;
    --background-color: #000000;
    --text-color: #ffffff;
}

/* ================ General Styles ================ */

html {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: var(--font-secondary);
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    scroll-behavior: smooth;
}

body {
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    font-weight: normal;
    position: relative;
}

img {
    width: 100%;
    max-height: 90vh;
    object-fit: cover;
}

h1 {
    display: none;
}

h2 {
    color: var(--text-color);
    font-family: var(--font-primary);
    font-size: 5em;
    filter: drop-shadow(0 4px 2px var(--xr-red));
    line-height: 1em;
}

h3 {
    color: var(--text-color);
    font-family: var(--font-secondary);
    font-size: 2em;
    filter: drop-shadow(0 2px 1px var(--xr-red));
    margin-top: 0;
    margin-bottom: 0;
}

h4 {
    font-family: var(--font-primary);
    font-size: 2em;
    font-weight: bold;
    margin-top: 2vh;
    margin-bottom: 2vh;
}

h5 {
    font-family: var(--font-primary);
    font-size: 2em;
    font-weight: bold;
    color: var(--xr-cool-red);
    margin-bottom: 2vh;
}

p {
    color: var(--text-color);
    font-family: var(--font-secondary);
    font-size: 1.5em;
    font-weight: normal;
    line-height: 1.5em;
}

a {
    color: var(--text-color);
    text-decoration: none;
}

p a {
    text-decoration: underline;
    transition: 0.1s;
}

p a:hover {
    color: var(--xr-cool-red);
}

.text-align-right {
    text-align: right;
}

.text-align-center {
    float: center;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.text-outline {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--text-color);
    color: transparent;
}

.spacer {
    height: 5vh;
}

/* SVG gradient background */
.background-svg {
    object-fit: unset;
    width: 100%;
    height: 150%;
    max-height: unset;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.halfpage-banner {
    display: flex;
    flex-direction: column;
    height: 60vh;
    /*background: transparent linear-gradient(163deg, var(--xr-red) 0%, var(--xr-cool-red) 50%, var(--xr-purple) 100%) 0% 0% no-repeat padding-box;*/
    margin-bottom: 8vw; /* 8vw if curved bg */
    transition: 0.3s;
}

.halfpage-banner .background-svg {
    height: 75vh;
}

#banner-content {
    height: 100%;
    margin-bottom: 4vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.subpage-header {
    width: unset;
    max-height: unset;
    height: 12vh;
    margin: 5vh auto;
    display: block;
    margin-bottom: 2vh;
}

.halfpage-banner p {
    text-align: center;
    margin-right: 5vw;
    margin-left: 5vw;
}

/* ================ Containers ================ */

.section {
    min-height: 100vh;
}

.page-body {
    overflow-x: hidden;
}

.horizontal-flex-container {
    display: flex;
    flex-direction: horizontal;
    justify-content: center;
    flex-wrap: wrap;
}

.vertical-flex-container {
    display: flex;
    flex-direction: vertical;
}

.flex-right {
    flex-direction: row-reverse;
}

.background-image-relative {
    margin-top: 0;
    width: 100%;
    height: 100%;
    position: relative;
}

.padding-wide {
    padding-right: 15vw;
    padding-left: 15vw;
}

.padding-medium {
    padding-right: 10vw;
    padding-left: 10vw;
}

.padding-small {
    padding-right: 5vw;
    padding-left: 5vw;
}

.flex-even {
    justify-content: space-evenly;
}

canvas {
    height: 100% !important;
    width: 100% !important;
}

#alert {
    display: flex;
    position: sticky;
    text-align: center;
    background-color: var(--xr-purple);
    /* box-shadow: 0px 2px 8px var(--xr-purple); */
    top: 0;
    z-index: 1000;
}

#alert p {
    margin-left: 5vh;
    width: 95%;
    font-size: unset;
    z-index: 1001;
}

#alert #close {
    margin-right: 2vh;
    width: 3vh;
    height: 3vh;
    object-fit: contain;
    align-self: center;
    cursor: pointer;
    transition: 0.2s;
    z-index: 1001;
}

#alert #close:hover {
    opacity: 0.7;
}

#alert.closed {
    display: none;
}

/* ================ Buttons ================ */

.button {
    display: table;
    border-radius: 33px;
    padding: 2vh 8vh;
    font-family: var(--font-secondary);
    font-size: 2em;
    color: transparent;
    transition: all 0.2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
}

.button:hover {
    cursor: pointer;
}

.button.big {
    width: 50%;
    border: 3px solid var(--text-color);
    border-radius: 90px;
    font-size: 3em;
    text-align: center;
    float: center;
    margin: 8vh auto;
    padding: 4vh 4vh;
    display: block;
}

.button.transparent {
    background: transparent;
}

.button.red {
    background-color: var(--background-color);
    background: radial-gradient(circle, var(--xr-cool-red) 12%, rgba(0,0,0,0) 100%);
    border: 3px solid var(--xr-cool-red);
}

.button.red:hover {
    background-color: var(--xr-cool-red);
    border: 2px solid var(--text-color);
}

.button.white {
    background: radial-gradient(circle, rgba(255, 255, 255, 0) 50%, rgba(0,0,0,0) 100%);
}

.button.white:hover {
    background: radial-gradient(circle, rgba(255, 255, 255, 100) 12%, rgba(0,0,0,0) 100%);
    background-color: var(--text-color);
}

.button.bg-red:hover {
    color: var(--xr-cool-red);
}

.button.bg-black:hover {
    color: var(--background-color);
}

.button.bg-purple:hover {
    color: var(--xr-purple);
}

/* ================ Navbar ================ */

nav {
    padding-top: 8vh;
    padding-bottom: 8vh;
    margin-right: 5vw;
    display: flex;
    flex-direction: horizontal;
    color: var(--text-color);
    justify-content: flex-end;
    font-size: 1.5em;
    flex-wrap: wrap;
}

.nav-link {
    margin-right: 5vh;
}

.underline {
    background-size: 0% 0.1em;
    background-position-y: 100%;
    background-position-x: 0%;
    background-repeat: no-repeat;
    background-image: linear-gradient(var(--text-color), var(--text-color));
    transition: background-size 0.2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
}

.underline:hover {
    background-size: 100% 0.1em;
}

.nav-button {
    background: radial-gradient(circle, rgba(255, 255, 255, 0) 50%, rgba(0,0,0,0) 100%);
    margin-right: 5vh;
    border: 2px solid var(--text-color);
    border-radius: 16px;
    padding: 2vh 3vh;
    transition: all 0.2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
}

.nav-button:hover{
    background: radial-gradient(circle, rgba(255, 255, 255, 100) 12%, rgba(0,0,0,0) 100%);
    background-color: var(--text-color);
    color: var(--xr-cool-red);
}

#menu-checkbox {
    display: none;
}

/* ================ Cards ================ */

.card {
    width: 25vw;
    border-radius: 40px;
    align-content: center;
    align-items: center;
    margin-left: 2vw;
    margin-right: 2vw;
    hyphens: auto;
    display: inline-flex;
    flex-direction: column;
    position: relative;
    margin-bottom: 8vh;
}

.red-glass {
    border: 3px solid var(--xr-cool-red);
    background: transparent radial-gradient(farthest-corner at 19% 26%, var(--background-color) 0%, var(--xr-purple) 50%, var(--xr-red) 100%);
}

.purple-glass {
    border: 3px solid var(--xr-cool-red);
    background: transparent linear-gradient(162deg, #00000000 50%, #661556 140%);
}

.card p {
    margin-top: 2vh;
    margin-bottom: 2vh;
    margin-left: 2vw;
    margin-right: 2vw;
    text-align: center;
}

.card-profile {
    margin: 4vh auto;
    width: 25vh;
    height: 25vh;
    max-height: unset;
    border-radius: 50%;
}

.card-icon {
    width: unset;
    max-height: unset;
    height: 8vh;
    float: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 6vh;
    margin-bottom: 3vh;
    align-self: center;
    display: block;
}

.card-header-image {
    border: 1px solid var(--xr-cool-red);
    border-radius: 40px 40px 0 0;
    width: 98%;
    margin-top: 1%;
}

.card-header-video {
    height: calc(16 * 98% / 9);
    border: 1px solid var(--xr-cool-red);
    border-radius: 40px 40px 0 0;
    width: 98%;
    margin-top: 1%;
    transform: translateY(0px);
    overflow: hidden;
}

.card-header-video iframe {
    width: 100%;
    height: 100%;
    display: block;
}

.card-header {
    font-family: var(--font-primary);
    font-size: 2em;
    text-align: center;
    margin-bottom: 0;
    margin-left: 2vw;
    margin-right: 2vw;
    line-height: 1em;
}

.card-button-container {
    width: 90%;
    margin-top: auto;
    margin-bottom: 2vh;
    display: flex;
    flex-direction: vertical;
    justify-content: flex-end;
}

.card-action-button {
    float: center;
    margin: 0 auto;
    margin-top: 2vh;
    color: var(--text-color);
    border: 3px solid var(--text-color);
    border-radius: 30px;
    font-family: var(--font-secondary);
    font-size: 1.25em;
    text-align: center;
    width: 100%;
    padding: unset;
    padding-top: 4%;
    padding-bottom: 4%;
    flex: 1;
    display: table;
}

#card-icon-links {
    width: 90%;
    margin-top: auto;
    padding-top: 2vh;
    margin-bottom: 4vh;
    display: flex;
    flex-direction: horizontal;
    justify-content: center;
}

#card-icon-links img {
    height: 4vh;
    width: 4vh;
    object-fit: unset;
    margin-left: 1vh;
    margin-right: 1vh;
    transition: 0.2s;
}

#card-icon-links img:hover {
    filter: opacity(0.4);
}

/* ================ Home ================ */

#header {
    position: relative;
}

#header-logo {
    width: 30vw;
    height: 30vw;
    margin-right: 5vw;
}

#header-text {
    width: 50vw;
    margin-bottom: 4vh;
}

#home-about {
    margin-top: 30vw;
    margin-left: 15vw;
    width: 35vw;
}

#home-headset-img {
    width: unset;
    max-height: unset;
    position: absolute;
    height: 70vh;
    top: 50%;
    left: 40vw;
    z-index: -1;
    transform: rotate(-15deg);
}

#video {
    width: 100vw;
    height: 100vh;
    border: none;
}

#home-events {
    margin-top: 20vh;
}

#events-header {
    margin-right: 10vw;
}

/* ================ About ================ */

#About h2 {
    margin-top: 16vh;
}

.person-title {
    font-weight: 100;
}

/* ================ Events ================ */

.event-caption {
    text-align: center;
    font-size: 1.5em;
    font-style: italic;
}

.event-container {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap-reverse;
    justify-content: center;
}

.event-location {
    margin: unset;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    padding: 0;
    font-size: 1.5em;
}

.event-date {
    margin-top: 0 !important;
    margin-bottom: 4vh !important;
    padding: 0;
    font-weight: 100;
}

/* ================ Lab ================ */

#lab-description {
    margin-top: 20vw;
}

#lab-heading {
    width: 30%;
    height: 100%;
    display: inline;
    text-align: right;
    margin-right: auto;
    vertical-align: top;
}

#lab-description-text {
    width: 60%;
}

/* ================ Projects ================ */

.challenge-container {
    width: 25% !important;
    margin-bottom: 8vh;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    align-content: center;
    display: flex;
}

.challenge-container h5 {
    width: 100%;
    align-content: left;
    align-items: left;
    align-self: center;
    text-align: center;
    margin-top: 2vh;
}

.challenge-container p {
    text-align: justify;
    margin: unset;
}

.challenge-container a {
    all: unset;
    cursor: pointer;
    transition: 0.3s;
}

.challenge-container a:hover{
    filter: brightness(0.3);
}

.project-logo {
    float: center;
    margin-right: auto;
    margin-left: auto;
    width: 8vw;
    height: 8vw;
    align-self: center;
    display: block;
}

.challenge-container .button {
    align-self: center;
    float: center;
    margin-right: auto;
    margin-left: auto;
}

.project-card {
    width: 43% !important;
}

/* ================ News ================ */

.news-item {
    display: flex;
    flex-direction: row;
    margin-bottom: 6vh;
    padding: 0;
    padding-bottom: 4vh;
    padding-right: 0;
    margin-right: 0;
    justify-content: flex-start;
    justify-items: center;
    align-items: center;
    transition: 0.3s;
}

.news-item h5 {
    margin-top: 0;
    margin-bottom: 0;
    display: table;
}

.news-item a {
    all: unset;
    padding: 0;
}

.news-item .news-image {
    all: unset;
    width: 55vw;
    height: 15vw;
    display: inline-flex;
    margin-right: 5vw;
    object-fit: cover;
    transition: 0.3s;
}

.news-image img {
    width: 100%;
    height: 100%;
}

.news-item .content {
    width: 40vw;
    height: 100%;
    padding: 0;
    margin: 0;
    display: inline-flex;
    flex-direction: column;
    align-self: center;
    justify-content: flex-start;
    text-align: justify;
}

.news-date {
    margin-top: 0;
    color: var(--xr-purple);
    font-size: 1.25em;
    font-weight: bolder;
}

.news-description {
    margin-top: 0;
    font-size: 1.25em;
    font-weight: lighter;
}

.hover-arrow {
    fill: var(--xr-cool-red) !important;
    width: 0 !important;
    display: inline-block;
    object-fit: contain !important;
    transition: 0.3s;
    margin: 0 !important;
}

.news-item:hover .news-image {
    width: 48vw !important;
}

.news-item:hover .hover-arrow {
    width: 3vw !important;
    margin-left: 2vw !important;
}

#news-button-big {
    color: var(--background-color);
}

.news-item.underline {
    background-image: linear-gradient(var(--xr-cool-red), var(--xr-cool-red));
}

/* ================ Footer ================ */

#Footer {
    margin-top: 5vh;
    position: relative;
}

#get-involved {
    position: absolute;
    top: 30vh;
}

#Footer .background-svg {
    height: 100%;
}

#footer-section-1 {
    padding: 60vh 10vw 15vw 10vh;
}

#footer-section-2 {
    margin-left: 10vw;
    margin-right: 10vw;
    justify-content: flex-start;
}

#get-involved-img {
    width: 30vw;
    margin-right: 5vw;
    object-fit: contain;
}

#join-links {
    margin-top: auto;
    vertical-align: bottom;
}

#join-links a {
    display: table;
    font-size: 2em;
    margin-bottom: 2vh;
    font-weight: bold;
}

#join-links img {
    width: unset;
    max-height: unset;
    height: 4vh;
    margin-right: 8px;
}

#get-involved-str {
    font-size: unset;
    text-align: center;
    margin: 5vh 15vw;
}

#back-to-top {
    font-size: 1.1em;
    text-align: center;
    display: table;
    transition: 0.3s;
    float: center;
    margin-right: auto;
    margin-left: auto;
}

#back-to-top:hover {
    text-decoration: underline;
}

#footer-logo {
    width: 12vw;
    height: 12vw;
    margin-right: 4vw;
    vertical-align: middle;
    align-self: center;
}

#social-icons-1 {
    display: flex;
}

#social-icons-2 {
    display: none;
}

.social-icons {
    justify-content: flex-start;
}

.social-icons img {
    width: 4vh;
    height: 4vh;
    object-fit: unset;
    margin-right: 6vh;
    transition: 0.2s;
}

.social-icons img:hover {
    filter: opacity(0.4);
}

#footer-info {
    vertical-align: text-top;
    margin-right: auto;
    align-self: center;
}

#footer-pages {
    margin-right: auto;
}

#footer-community {
    margin-right: auto;
}

.footer-link {
    display: table;
    font-size: 1.25em;
    margin-bottom: 8px;
}

#copyright {
    font-size: 1.1em;
    padding-top: 10vh;
    padding-bottom: 10vh;
    text-align: center;
    margin-bottom: 0;
}

/****************************************************** MOBILE ****************************************************************/

@media (max-width:800px) { 

    h2 {
        font-size: 3.5em;
    }

    .subpage-header {
        width: 90%;
        object-fit: contain; 
        transition: 0.3s;
        margin-bottom: 0;
    }

    .halfpage-banner {
        height: 70vh;
    }

    .card {
        width: 90% !important;
    }

    .button {
        word-wrap: normal;
        white-space: normal;
    }

    .button.big {
        width: 70vw;
    }

    #navbar {
        visibility: hidden;
        opacity: 0;
        justify-content: flex-start;
        margin-top: -40vh;
        padding-bottom: 10vh;
        margin-bottom: -10vh;
        margin-left: 10vw;
        transition: 0.3s;
    }

    .nav-wrapper a {
        display: table;
        margin-bottom: 2vh;
    }

    /* ================ Header ================ */

    #header-logo {
        width: 30vh;
        height: 30vh;
        object-fit: contain;
        margin-left: 0;
        margin-left: 8vw;
    }

    #header .horizontal-flex-container {
        justify-content: flex-start;
    }

    #header-text {
        width: 80vw;
        margin-top: 4vh;
        margin-left: 8vw;
    }

    h3 {
        font-size: 1.5em;
        margin-left: 8vw;
    }

    /* ================ Home ================ */

    #home-headset-img {
        position: static;
        height: 40vh;
    }

    #home-about {
        margin-top: 40vh;
        width: 70vw;
    }

    #home-about .background-image-relative {
        float: right;
        margin-left: auto;
        margin-bottom: 10vh;
    }

    #home-events {
        margin-top: 0;
    }

    /* ================ Lab ================ */

    #lab-heading {
        margin-top: 40vh;
        width: 100%;
    }

    #lab-description-text {
        width: 100%;
    }

    /* ================ Projects ================ */

    .project-logo {
        width: 100%;
        height: 30vh;
        object-fit: contain;
    }

    .project-info {
        width: 100%;
    }

    .project-info .button {
        float: unset;
        margin-left: auto;
        margin-right: auto;
    }

    /* ================ News ================ */

    .news-item {
        flex-direction: column;
    }

    .news-image {
        width: 100% !important;
        height: 30vh !important;
        margin: 4vh 0vh !important;
        padding: 0 !important;
    }

    .news-image img {
        width: 100% !important;
    }

    .news-item .content {
        width: 100%;
    }

    .news-item:hover .news-image {
        width: 100% !important;
    }

    .news-item:hover .hover-arrow {
        all: unset;
        height: 8vh;
        width: 100%;
    }

    /* ================ Footer ================ */

    #get-involved-img {
        width: 100%;
        margin-bottom: 8vh;
    }

    #join-links {
        margin-left: 0;
    }

    #get-involved-str {
        margin-left: 0vw;
        margin-right: 0vw;
    }

    #footer-logo {
        width: 35%;
        height: 20vh;
        object-fit: contain;
        margin-left: auto;
        margin-right: auto;
    }

    #footer-pages {
        margin-top: 4vh;
        margin-left: auto;
        margin-right: auto;
    }

    #footer-community {
        margin-top: 4vh;
    }

    #footer-info {
        margin-left: 5%;
        width: 50%;
    }

    #social-icons-1 {
        display: none;
    }

    #social-icons-2 {
        display: flex;
        margin-top: 8vh;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
    }

    #social-icons-2 img {
        margin-right: 2vw;
        margin-left: 2vw;
    }

    #copyright {
        margin-top: 0;
        padding-top: 4vh;
    }

    /* ================ Collapsing Menu ================ */
    /* Credit: Himalaya Singh (FreeFrontend) */

    #menu-checkbox {
        display: none;
    }

    label {
        padding-left: 2vh;
        padding-top: 2vh;
        position: static;
        display: block;
        width: 60px;
        height: 60px;
        cursor: pointer;
    }

    label div {
        position: relative;
        top: 0;
        height: 8px;
        background-color: #fff;
        margin-bottom: 8px;
        transition: 0.3s ease transform, 0.3s ease top, 0.3s ease width,
            0.3s ease right, 0.2s ease opacity;
        border-radius: 2px;
    }

    label div:first-child {
        transform-origin: 0;
    }

    label div:last-child {
        margin-bottom: 0;
        transform-origin: 0px;
    }

    label div:nth-child(2) {
        right: 0;
        width: 60px;
    }

    #menu-checkbox:checked + label:before {
        background-color: #4caf50;
    }

    #menu-checkbox:checked + label div:first-child {
        top: -4px;
        transform: rotateZ(45deg);
    }

    #menu-checkbox:checked + label div:last-child {
        top: 4px;
        transform: rotateZ(-45deg);
    }

    #menu-checkbox:checked + label div:nth-child(2) {
        width: 60px;
        top: 0;
        right: 10px;
        transform: rotateZ(-45deg);
    }


}